*~
.DS_Store
local.properties
/logs
.idea
*.iml
.git/
.gradle/
.settings/
.idea/
build/
dist/
.DS_Store
*.swp
*.ipr
*.iml
*.iws
*.class
classes/
.classpath
.project
sys.pid
tomcat/
out/
tmp/
dockin-package.tar.gz